html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: white;
  padding: 0;
}

body {
  padding: 0;
}

.graysmoke {
  background-color: whitesmoke;
}

.main-content {
  position: relative;
  top: 4.3125rem; /* To offset for fixed header. */
}

.content {
  display: flex;
  padding: 2rem 1.5rem;
}

/* header section style */

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
  margin: 0;
}

header .content {
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
}

header .logo {
  display: flex;
  flex-grow: 1;
  padding: 0;
}

.logo img {
height: 32px;
max-width: 100%;
}

header .mobile {
  display: none;
}

nav ul {
  display: flex;
  padding: 0;
}

nav li {
  padding-left: 1rem;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .content {
    padding: 16px 16px 32px 16px;
  }
}

/* banner section */

.banner img {
  width: 60%
}

.banner-text {
  flex-direction: column;
  justify-content: center;
}

.banner-text .button {
  display: block;
  padding: 8px 0;
  background-color: dimgray;
  /* font-family: "Verdana", sans-serif; */
  color: white;
  text-align: center;
}

@media only screen and (max-width: 760px) {
  .banner {
    flex-direction: column;
  }
  .banner img {
    width: 100%;
  }

  .banner {
    padding: 0;
  }

  .banner
}

/* practice section */

.largecolumn {
  flex-direction: column;
  max-width: 60%;
  padding-right: 1.5rem;
}

.largecolumn img {
  max-width: 100%;
}

.rowitem {
  display: flex;
}

.rowitem .desktop {
  height: auto;
  max-width: 35%;
  padding: 16px;
}

.rowitem .mobile {
  display: none;
}

.item_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 65%;
}

@media only screen and (max-width: 760px) {
  .practice .largecolumn {
    display: none;
  }

  .rowitem {
    flex-direction: column;
    padding-bottom: 16px;
  }

  .rowitem .desktop {
    display: none;
  }

  .rowitem .mobile {
    display: flex;
    max-width: 100%;
  }

  .itemlist .graysmoke {
    background-color: inherit;
  }

  .thesis .itemlist {
    display: none;
  }

  .thesis .largecolumn {
    max-width: 100%
  }

  .thesis .largecolumn h1, .thesis .largecolumn p {
    display: none;
  }
}

/* Learning sectoin */

.learning {
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  padding-left: 72px;
  padding-right: 72px;
}



.learning_header {
  text-align: center;
}

.learnitems {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lrnitem {
  margin: 0;
  padding: 16px;
  width: 30%;
}

.lrnitem img {
  max-width: 100%;
  height: auto;
}

/* Thesis */

.largecolumn video {
  object-fit: contain;
  max-width: 100%;
}

@media only screen and (max-width: 760px) {
  .learnitems {
    display: flex;
    flex-wrap: nowrap;
    flex-direction:  column;
  }

  .learnitems .desktop {
    display: none;
  }

  .lrnitem {
    padding: 0;
    width: 100%;
  }

  .lrnitem h2 {
    margin: 4px 0;
    padding: 16px 16px 24px 16px;
    background-color: whitesmoke;
  }

  .lrnitem p {
    display: none;
  }

  .learning {
    background-color: inherit;
  }
}

/* footer */

footer {
  align-items: center;
}

.copyright {
  flex-grow: 1;
}

@media only screen and (max-width: 760px) {
  footer nav {
    display: none;
  }
}
